/* Backgrounds */
.root {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 90%, #3e0979, #119cda);
    /*-fx-background-color: linear-gradient(from 0% 0% to 0% 90%, #311b92, #212121);*/
}
.no-background {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

/* Text styles */
.text-white {
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-font-family: sans-serif;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-stroke: none;
}
.text-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: monospace;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}
.text-subtitle {
    -fx-font-family: Verdana, Helvetica, sans-serif;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}
.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #3e0979;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-underline: true;
}

/* Text inputs */
.text-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #3e0979;
    -fx-effect: dropshadow(three-pass-box, #FFFFFFAA, 5, 0, 0, 0);
}

.error-text {
    -fx-text-fill: #e70000;
    -fx-stroke: none;
}

/* Combo box */
.combo-box {
    -fx-background-color: #3e0979;
    -fx-border-color: #BABABA;
    -fx-text-fill: #3e0979;
    -fx-border-radius: 5px;
    -fx-fill: #FFF;
}

.combo-box .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #3e0979;
    -fx-border-radius: 5px;
    -fx-fill: #CDCDCD;
}

.combo-box .list-cell:hover {
    -fx-background-color: #3e0979;
    -fx-text-fill: #FFFFFF;
    -fx-fill: #FFFFFF;
}

/* Progress bar */
.progress-bar .bar {
    -fx-background-color: #3e0979;/* linear-gradient(to left, #BABABA 50%, #21212122 50%);*/
}
.progress-bar .track{
    -fx-background-color: #FFFFFF;
    /*-fx-background-color: #552fff;*/
}

/* scroll bar */
.scroll-bar {
    -fx-background-color: #52525233;
}
/*.scroll-bar .track,*/ .scroll-bar .thumb {
    -fx-background-color: #8c4dd2;
}


/* Button styles */
.main-button {
    -fx-background-color: transparent;
    -fx-border-color: #3e0979;
    -fx-text-alignment: center;
    -fx-text-fill: #3e0979;
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, #FFFFFFCC, 5, 0, 0, 0);
}
.main-button:hover {
    -fx-background-color: #3e0979;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, #FFFFFFCC, 10, 0, 0, 0);
}
.main-button:pressed {
    -fx-background-color: #3e0979;
    -fx-text-fill: #FFFFFF;
    -fx-effect: none;
}
